[submodule "naming_service"]
	path = naming_service
	url = https://github.com/FilipeJrd/Cartola-NamingService.git
[submodule "login"]
	path = login
	url = https://github.com/Tpshc/Cartola-Login.git
[submodule "authentication_middleware"]
	path = authentication_middleware
	url = https://github.com/Tpshc/Cartola-AuthenticationMiddleware.git
[submodule "cartola-data-scrapper"]
	path = cartola-data-scrapper
	url = https://github.com/dijckstra/cartola-data-scrapper.git
[submodule "cartola-data-processor"]
	path = cartola-data-processor
	url = https://github.com/FilipeJrd/cartola-data-processor.git
[submodule "cartola-rest-api"]
	path = cartola-rest-api
	url = https://github.com/dijckstra/cartola-rest-api.git
